@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo à Imobiliaria Perseverare</h1>
    <p>CRUD Desenvolvido utilizando ASP.NET MVC</p>
    <p>Saiba mais em <a href="https://learn.microsoft.com/pt-br/aspnet/core/?view=aspnetcore-6.0" target="_blank">ASP.NET</a></p>
</div>
